.dot {
    aspect-ratio: 1/1;
    height: 0.5rem;  
    background-color: yellow;
    border: 1px dotted red;
    border-radius: 100%;
    margin: auto;
    position: relative;
    transition: all 1s;
}