.event {
    padding-top: 9px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 13px;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.2rem;
}

em {
    font-weight: bold;
    text-decoration: underline;
}

.map {
    margin: auto;
    max-width: 50%;
    max-height: 30vh;
    border: 1px solid #cfcfcf;
    background-color: white;
    padding: 10px;
}
