.event {
    padding-top: 2px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 29px;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
}

.map {
    max-width: 80vw;
    max-height: 30vh;
}